.button{
    width: 100%;
    padding: 1.5em;
    background: linear-gradient(125.58deg, #BAFB67 -5.37%, #00D23A 196.64%);
    border: 0 ;
    border-radius: .5em;
    box-shadow: 0em .2em 1em #b0b0b0;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    outline: 0;
    &:hover{
    background: linear-gradient(125.58deg, #505050 -5.37%, #c0c0c0 196.64%);

    }
}